# your.keystore
storePassword=<your_store_password>
keyPassword=<your_key_password>
keyAlias=<your_key_alias>
storeFile=<path to your.keystore>

# Google Android platform.keystore
platformStorePassword=android
platformKeyPassword=android
platformKeyAlias=androiddebugkey
platformStoreFile=../platform.keystore
